<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>CloudFlowz</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

    <h2>Flowz Details</h2>
    <div>
        <form class="form-horizontal" th:object="${flowz}" th:action="@{/flowz}" method="post">
            <input type="hidden" th:field="*{id}"/>
            <input type="hidden" th:value="${user}" name="username" />
            <div class="form-group">
                <label class="col-sm-2 control-label">Flowz Name:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{flowz_name}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Flowz Type:</label>
                <div class="col-sm-10">
                	<select th:field="*{flowz_type}">
  					<option value="SCH">Schedulez</option>
  					<option value="CHN">Chainz</option>
  					<option value="LOC">Locatez</option>
					</select>
                 </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Flowz Status:</label>
                <div class="col-sm-10">
                	<select th:field="*{flowzStatus}">
  					<option value="Created">Created</option>
  					<option value="Scheduled">Scheduled</option>
  					<option value="Executed">Executed</option>
  					<option value="Canceled">Canceled</option>
  					<option value="Errored">Errored</option>
					</select>
                 </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Description:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{description}"/>
                </div>
            </div>
            <div class="row">
                <button type="submit" class="btn btn-default">Submit</button>
            </div>
        </form>
    </div>
</div>

</body>
</html>