<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>CloudFlowz</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
    
    <script type="text/javascript">
		$(document).ready(function() {   
  			$("#dtBox").DateTimePicker();		   
		});
	</script>
    
</head>
<body>

<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

    <div>
        <form class="form-horizontal" th:object="${flowzParamz}" th:action="@{/flowzParamz}" method="post">
            <input type="hidden" th:field="*{id}"/> 
            <input type="hidden" th:value="${user.username}" name="username" />       
            <div class="form-group">
                <label class="col-sm-2 control-label">Flowz Name:</label>
                <div class="col-sm-10">
                	<select th:field="*{flowz_id}">
  					<option th:each="flow : ${flowz}" th:value="${flow.getId()}" th:text="${flow.getFlowz_name()}">test</option>
					</select>
                 </div>
            </div> 
            <div class="form-group">
                <label class="col-sm-2 control-label">Actionz Name:</label>
                <div class="col-sm-10">
                	<select th:field="*{actionz_name}">
  					<option value="Email">Email</option>
  					<option value="Text">Text</option>
  					<option value="Location Based Nav">Location Based Nav</option>
  					<option value="Phone Call">Phone Call</option>
  					<option value="Alarm">Alarm</option>
					</select>
                 </div>
            </div>             
                        
            <div class="form-group">
                <label class="col-sm-2 control-label">Actionz Timestamp:</label>
                <div class="col-sm-10">
                    <input type="text" data-field="datetime" readonly="true" class="form-control" th:field="*{stepzTmstmp}"/>
                </div>
            </div>     
            <div id="dtBox"></div>           
            <div class="form-group">
                <label class="col-sm-2 control-label">Subject Text:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{param2}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Body Text:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{param3}"/>
                </div>
            </div>
            <input type="hidden" th:value="0" id="paramz_extracted" name="paramz_extracted"/>
            <input type="hidden" th:value="${user.getEmail_address()}" id="param1" name="param1"/>
            <div class="row">
                <button type="submit" class="btn btn-default">Submit</button>
            </div>
        </form>
    </div>
</div>

</body>
</html>